<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="field" style="width: 500px; height: 500px; border: 1px solid black"></div>
    <button id="clear">Clear field</button>
    <button id="send">Predict</button>
    <button id="sendTrain">Send train</button>
    <button id="train">Train</button>
    <form action="">
        <input type="text" id="expectedValue">
    </form>
    <script src="{{ url_for('static', filename = 'main.js') }}"></script>
</body>
</html>